body.main-background{
    background-image: url('Img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.bg-About{
    background-color: #F2E7D5;
}
.top-menu{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subtitle{
    margin-top: 0px;
    font-family: montserrat;
    font-size: 25px;
}

.title{
    font-family: Great Vibes;
    font-size: 50px;
}

.container-fluid{
    padding: 0% 15% 5% 15%;
}